.header{
    background-image: url(./img/gray-leaf-on-black-background-1291515.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment: fixed;
    position: relative;
}
body{
    background:#101010;
}

.navbar-logo{
    display:flex;
    position: relative;
}
.navbar-logo_name{
    color:white;
    font-size:40px;
}
.navbar-logo_dot{
    background:red;
    position: absolute;
    right:-12px;
    top:50%;
    transform: translateY(50%);
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.navbar-menu{
    display:flex;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}
.navbar-menu_item{
    padding: 15px;
}
.navbar-menu_item_link{
    text-decoration: none;
    color:white;
}
.navbar-menu_item_link:hover{
    color:red;
    text-decoration: none;
}

.navbar-active{
    color:red;

}
.home{
    margin-top:120px;
    color:white;
}
.home-introduce{
    font-size: 25px;
    
}.home-job{
    font-size: 60px;
    font-weight: 700;
    margin:10px 0;
}
.container-background{
    background:#f21e4e;
    color:white;
    margin-bottom:150px;
}
.row{
    padding:45px 0px;
}
.col-5-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}
.col-5-text-bold{
    font-weight: 800;
    font-size: 16px;
}
.col-5-icon{
    margin-top:20px;
}
.col-5-icons{
    margin-right: 10px;
    font-size: 22px;
    transition: transform 0.2s;

}
.col-5-icons:hover{
    transform: translateY(-2px);
}
.col-5-link{
    color:white;
}
.col-5-link:hover{
    color:white;
}
.col-2-list{
    list-style: none;
    margin-top:79px;
}
.col-2-item-title{
    font-weight: 700;
}
.col-2-item{
    margin:4px 0;
}
.row-fix{
    padding-bottom:0;
}
.works{
    margin-bottom: 45.4px;
}
.works-question{
    color:#f21e4e;
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: 500;
    text-transform:uppercase;
}
.works-name{
    color:white;
    font-size: 45px;
    font-weight: 700;
}
.work__content{
    background:#f21e4e;
    padding: 40px 40px 0 40px;
    height: 175px;
}
.work__content-icon{
    font-size:40px;
    color:white;
    margin-bottom:20px;
    transition: opacity 0.2s;
    opacity: 1;
}
.work__destription{
    color:white;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}
.work__text{
    color:white;
    margin-top:10px;
    display:block;
    font-weight: 400;
    opacity: 0;
}
.work_content_wrap{
    transition: transform 0.2s;
}
.work__content:hover{
    cursor: pointer;
    overflow: hidden;
}
.work__content:hover .work_content_wrap{
    transform: translate3d(0, -55px, 0);
}
.work__content:hover .work__content-icon{
    opacity: 0;
}.work__content:hover .work__text{
    opacity: 1;
}
.fix-color{
    color:white;
    margin-top:0;
}
.row-experience{
    background:#f21e4e;
    margin-bottom: 30px;
}
.experience-destription{
    margin-left:30px;
    text-align: right;
    margin-right:20px;
}
.experience-certificate{
    color:white;
    font-weight: 500;
}
.experience-company{
    color: white;
    font-weight: 300;
}
.col-6-experience{
    display:flex;
    align-items: center;
}
.experience-time{
    transform: rotate(0);
    transition: transform 0.2s;
}
.experience-time:hover {
    transform: rotate(360deg);
}
.experience-time_inside{
    height: 145px;
    width: 145px;
    padding: 20px;
    background:#9f96ef;
    border-radius: 50%;
    border:10px solid rgb(211,213,207);
    text-align: center;
    color:white;
}
.experience-items{
    font-weight: 500;
}
.experience-items span{
    color:white;
    font-weight: 300;
}
.experience-time_inside p{
    margin-bottom: 0;
}

/* Education */
.education{
    background-image: url(./close-up-shot-of-black-computer-keyboard-1010496.jpg);
    background-size: contain;
    background-position:center center;
    background-attachment: fixed;
    
}
.education-row{
    padding:100px 0 ;
}
.education_sumary-item-wrap{
    background:rgb(255, 255, 255);
    height: 365px;
    border-radius: 20px;
    padding:10px;
    transform: translateY(0);
    transition: transform 0.2s;
}
.education_sumary-item-wrap:hover {
    transform: translateY(-9px);
}
.education_sumary-item-logo{
    height: 120px;
    width: 120px;
    object-fit: cover;
    transform: translateX(50px);
}
.education_sumary-item-detail{
    position: absolute;
    width: 81%;
    bottom: 36px;
}
.education_sumary-item-heading{
    font-weight: bold;
    margin-bottom: 4px;
    text-align: center;
    padding-top: 12px;
}
.education_sumary-item-time{
    display:flex;
    justify-content: space-between;
    margin:20px 0;
}
.education_sumary-item-performance{
    display:flex;
    justify-content: space-between;
}
.education_sumary-item-description{
    margin-top: 10px;
    text-align: center;
}
.picture-fix{
    height: 100vh;
    object-fit: contain;
}
.picture{
    background-image: url(./black-coffee-cup-and-black-notepad-on-black-table-3815759.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.row-contact{
    color:white;
    margin:100px 0;
    
}
.fix-dot{
    right:55%;
}
.contact-title{
    font-size: 20px;
    font-weight: 700;
}
.contact-icon{
    list-style: none;
    padding-left: 0;
}
.contact-icon-item{
    display:inline-block;
    height: 40px;
    width: 40px;
    padding:2px;
    border:2px solid #f21e4e;
    border-radius: 50%;
    margin-right: 5px;
    display:inline-flex;
    align-items: center;
    transform: translateY(0);
    transition:  transform 0.1s;
}
.contact-icon-item:hover {
    transform: translateY(-3px);
}
.contact-icon-item:hover .contact-icon-link{
    color:white;
}
.contact-icon-link{
    display:block;
    color:white;
}
.contact-icons-items{
    font-size: 20px;
    margin: 0 6px;
}